.imgLogito {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: auto;
    height: 90px;
}

.headerOne {
    font-size: small;
}

.swiper-container {
    width: auto;
    height: 580px;
    margin: 0 auto;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-mainFilter {
    background-color: #e7e7e7;
}

.input-field input:focus {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    outline: none !important;
    border-color: #d0203b;
}

.select-field select:focus {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    outline: none !important;
    border-color: #d0203b;
}