.section-heading {
    padding: 20px 60px 20px 60px;
    font-weight: 600;
}

.we_offer {
    display: grid;
    grid-template-columns: 1fr ;
    padding: 20px 60px 20px 60px;
    color: #e7e7e7;
}

h4 {
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 30px;
    padding-top: 20px;
    color: black;
}

h5 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
    color: black;
}

p {
    padding-bottom: 5px;
    color: black;
}

.features-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 0 20px 0;
}

.features-box {
    margin: 5px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    height: auto;
    width: auto;
    background-color: rgb(212, 16, 49);
}

.offer_description {
    padding-top: 20px;
}


.fa-duotone {
    font-size: 60px;
}

.fad::before,
.fa-duotone::before {
    color: red;
}

.fad::before,
.fa-duotone::after {
    color: red;
}

.features-box:hover {
    background-color: #dfdfdf;
}

@media only screen and (max-width: 768px) {
    .features-boxes {
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px 10px 20px 0;
    }

    .features-box {
        margin: 5px;
        padding: 20px;
        justify-content: center;
        text-align: center;
        height: auto;
        width: auto;
        background-color: rgb(212, 16, 49);
    }
}

@media only screen and (min-width: 768px) {
    .features-boxes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 40px 0 20px 0;
    }

    .features-box {
        margin: 5px;
        padding: 20px;
        justify-content: center;
        text-align: center;
        height: auto;
        width: auto;
        background-color: rgb(212, 16, 49);
    }

    .bus_demo_photo {
        background-image: url("../assets/posters/offer_poster.jpg");
        box-shadow: 2px 2px 10px rgba(176, 56, 56, 0.45);
        height: auto;
        width: 85%;
    }

    h5 {
        font-size: 20px;
        color: rgb(0, 0, 0);
        padding-bottom: 0;
    }

    p {
        padding-top: 10px;
        font-size: 16px;
        color: rgb(0, 0, 0);
    }

    .section-heading {
        padding: 20px 60px 20px 60px;
        font-weight: 600;
    }

    .we_offer {
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding: 20px 60px 20px 60px;
    }

    h4 {
        font-size: 35px;
        font-weight: 600;
        padding-bottom: 30px;
        padding-top: 20px;
    }
}